.admin-page {
    width: 100%;
    height: 100vh;
    background-color: #f5f7f9;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 5rem 1fr;
    grid-template-areas:
        "sidebar nav"
        "sidebar contenido";
}

.admin-content {
    grid-area: contenido;
    padding: 2rem;
}

.admin-content__title {
    margin: 0;
    font-size: 2rem;
    color: #081c15;
}


@media only screen and (max-width: 1440px) and (min-width: 1041px){
    .admin-page {
        grid-template-columns: 25% auto;
    }
}

@media only screen and (max-width: 1040px) and (min-width: 993px){
    .admin-page {
        grid-template-columns: 30% auto;
    }
}

@media only screen and (max-width: 992px) {
    .admin-page {
        grid-template-columns: 1fr;
        grid-template-rows: 5rem 1fr;
        grid-template-areas:
        "nav"
        "contenido";
    }
    
    .admin-page.admin-page--sidebar {
        grid-template-areas:
        "nav"
        "sidebar";
    }

    .admin-content.admin-content--sidebar {
        display: none;
    }
}