.modal-edit,
.modal-create {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    gap: 1rem;
}

.modal__title {
    margin: 0;
}

.modal__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.modal__input-group  {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.modal__input-group label {
    color: #081c15;
    font-weight: bold;
    font-size: 0.9rem;
}

.modal__input-group input,
.modal__input-group select {
    font-size: 0.9rem;
    padding: 0.5rem;
    border: 2px solid #bbbbbb;
    color: #333333;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.info-student span {
    font-weight: bold;
}

.modal__submit {
    grid-column: 1 / -1;
    padding: 1rem;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    background: #76c893;
    background: linear-gradient(
        90deg,
        #76c893 0%,
        #52b69a 25%,
        #34a0a4 50%,
        #168aad 75%,
        #1a759f 100%
    );
    cursor: pointer;
}

.modal__submit:hover {
    background: #53ba78;
    background: linear-gradient(
        90deg,
        #53ba78 0%,
        #429d84 25%,
        #2c878b 50%,
        #127593 75%,
        #166387 100%
    );
}

.modal__error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #c0392b;
    gap: 1rem;
    margin-bottom: 2rem;
}

.modal__error i {
    font-size: 7rem;
}

.modal__error p {
    margin: 0;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .modal__form {
        grid-template-columns: 1fr;
    }
}