.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #00000080;
    display: none;
}

.modal.modal--open {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    position: relative;
    background-color: #ffffff;
    min-width: 60%;
    max-width: 90%;
    padding: 2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.modal__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #c0392b;
}

.modal__close:hover {
    color: #902a20;
}